In [3]:
import pandas as pd
import numpy as np
import random

In [10]:
#Dims
X = 15
Y = 15

In [60]:
start = []
for i in range(0,X):
    across = []
    for j in range(0,Y):
        input = random.randint(0,1)
        if input == 1:
           input = "A"
        else:
           input = "B"
        across.append(input)
    start.append(across)

start = pd.DataFrame(start)

##Starting Board
 - Dimensions are X * Y

In [61]:
start

   0  1  2  3  4  5  6  7  8  9  10 11 12 13 14
0   B  A  A  A  A  A  B  A  A  A  A  A  B  B  A
1   B  B  B  B  A  B  B  B  B  A  B  A  B  A  A
2   B  B  B  A  A  A  B  A  B  A  A  B  A  A  B
3   A  A  B  A  B  B  B  A  B  B  A  A  A  B  B
4   A  A  A  B  A  B  A  B  B  B  B  A  A  A  A
5   A  B  A  B  B  B  B  A  A  A  A  A  A  B  B
6   B  A  B  A  B  A  A  B  B  A  B  B  A  A  A
7   A  A  A  A  B  B  A  A  A  B  A  A  A  A  A
8   A  A  B  B  A  A  A  A  B  A  A  B  A  A  B
9   B  B  A  A  B  B  B  B  A  A  B  A  A  B  B
10  A  B  B  A  B  B  A  B  B  B  A  B  B  A  A
11  A  A  A  B  A  B  A  B  A  B  B  B  B  A  A
12  A  B  B  B  A  A  B  A  A  A  B  A  B  B  B
13  A  A  A  B  A  A  A  A  A  A  A  B  B  B  A
14  A  A  B  A  B  B  B  A  A  A  B  A  A  B  B

In [47]:
start.iloc[1][14]

1

In [160]:
def check(input,dim):
    if input < 0:
       input = 14
    if input > dim - 1:
       input = 0
    return input

height = start.shape[1]
width = start.shape[1]
bb = {'O':[],'D1':[],'D2':[]}
bc = []
at = []
bt = []
ct = []
dt = []
et = []
ft = []
gt = []
ht = []
abo = []
bbo = []
cbo = []
dbo = []
ebo = []
fbo = []
gbo = []
hbo = []
for row in range(0, height):
    for col in range(0, width):
        
        apos = [check(row+1,height),check(col-1,width)]
        bpos = [check(row+1,height),check(col,width)]
        cpos = [check(row+1,height),check(col+1,width)]
        dpos = [check(row,height),check(col+1,width)]
        hpos = [check(row,height),check(col-1,width)]
        gpos = [check(row-1,height),check(col-1,width)]
        fpos = [check(row-1,height),check(col,width)]
        epos = [check(row-1,height),check(col+1,width)]
        batch = [apos,bpos,cpos,dpos,hpos,gpos,fpos,epos]
        at.append(apos)
        bt.append(bpos)
        ct.append(cpos)
        dt.append(dpos)
        et.append(epos)
        ft.append(fpos)
        gt.append(gpos)
        ht.append(hpos)
        bout = ["aval","bval","cval","dval","hval","gval","fval","eval"]
        j = 0
        foc = [row,col]
        bb['O'].append(foc)
        bb['D1'].append(batch)
        for i in batch:
            x = i[0]
            y = i[1]
            bout[j] = start.iloc[x][y]
            j += 1
        abo.append(bout[0])
        bbo.append(bout[1])
        cbo.append(bout[2])
        dbo.append(bout[3])
        ebo.append(bout[4])
        fbo.append(bout[5])
        gbo.append(bout[6])
        hbo.append(bout[7])
        bc.append(bout)
        bb['D2'].append(bout)

data = {'A':at,'B':bt,'C':ct,'D':dt,'E':et,'F':ft,'G':gt,'H':ht}
data2 = {'Av':abo, 'Bv':bbo, 'Cv':cbo, 'Dv':dbo, 'Ev':ebo, 'Fv':fbo, 'Gv':gbo, 'Hv':hbo}
be = pd.DataFrame(data)
bd = pd.DataFrame(bb)
bf = pd.DataFrame(data2)

In [172]:
t = bb['D1']
ca = be.merge(bd,how='left',left_on=be.index,right_on=bd.index)
ca.drop(columns=['D1','key_0'], inplace=True)
ct = ca.copy()

cu = ct.merge(bf,how='left',left_on=ct.index,right_on=bf.index)
cu.drop(columns=['D2','key_0'],inplace=True)

cu = cu.reindex(sorted(cu.columns), axis=1)
cu

           A Av        B Bv        C Cv  ... Fv         G Gv         H Hv         O
0    [1, 14]  A   [1, 0]  B   [1, 1]  B  ...  B  [14, 14]  A   [0, 14]  A    [0, 0]
1     [1, 0]  B   [1, 1]  B   [1, 2]  B  ...  A   [14, 0]  A    [0, 0]  B    [0, 1]
2     [1, 1]  B   [1, 2]  B   [1, 3]  B  ...  A   [14, 1]  B    [0, 1]  A    [0, 2]
3     [1, 2]  B   [1, 3]  B   [1, 4]  A  ...  B   [14, 2]  A    [0, 2]  B    [0, 3]
4     [1, 3]  B   [1, 4]  A   [1, 5]  B  ...  A   [14, 3]  B    [0, 3]  B    [0, 4]
..       ... ..      ... ..      ... ..  ... ..       ... ..       ... ..       ...
220   [0, 9]  A  [0, 10]  A  [0, 11]  A  ...  A   [13, 9]  A   [14, 9]  B  [14, 10]
221  [0, 10]  A  [0, 11]  A  [0, 12]  B  ...  A  [13, 10]  B  [14, 10]  B  [14, 11]
222  [0, 11]  A  [0, 12]  B  [0, 13]  B  ...  B  [13, 11]  B  [14, 11]  B  [14, 12]
223  [0, 12]  B  [0, 13]  B  [0, 14]  A  ...  B  [13, 12]  B  [14, 12]  A  [14, 13]
224  [0, 13]  B  [0, 14]  A   [0, 0]  B  ...  B  [13, 13]  A  [14, 13]  A  [14, 14]

[225 rows x 17 columns]