In [3]:
import pandas as pd
import numpy as np
import random

In [10]:
#Dims
X = 15
Y = 15

In [60]:
start = []
for i in range(0,X):
    across = []
    for j in range(0,Y):
        input = random.randint(0,1)
        if input == 1:
           input = "A"
        else:
           input = "B"
        across.append(input)
    start.append(across)

start = pd.DataFrame(start)

##Starting Board
 - Dimensions are X * Y

In [61]:
start

   0  1  2  3  4  5  6  7  8  9  10 11 12 13 14
0   B  A  A  A  A  A  B  A  A  A  A  A  B  B  A
1   B  B  B  B  A  B  B  B  B  A  B  A  B  A  A
2   B  B  B  A  A  A  B  A  B  A  A  B  A  A  B
3   A  A  B  A  B  B  B  A  B  B  A  A  A  B  B
4   A  A  A  B  A  B  A  B  B  B  B  A  A  A  A
5   A  B  A  B  B  B  B  A  A  A  A  A  A  B  B
6   B  A  B  A  B  A  A  B  B  A  B  B  A  A  A
7   A  A  A  A  B  B  A  A  A  B  A  A  A  A  A
8   A  A  B  B  A  A  A  A  B  A  A  B  A  A  B
9   B  B  A  A  B  B  B  B  A  A  B  A  A  B  B
10  A  B  B  A  B  B  A  B  B  B  A  B  B  A  A
11  A  A  A  B  A  B  A  B  A  B  B  B  B  A  A
12  A  B  B  B  A  A  B  A  A  A  B  A  B  B  B
13  A  A  A  B  A  A  A  A  A  A  A  B  B  B  A
14  A  A  B  A  B  B  B  A  A  A  B  A  A  B  B

In [47]:
start.iloc[1][14]

1

In [127]:
def check(input,dim):
    if input < 0:
       input = 14
    if input > dim - 1:
       input = 0
    return input

height = start.shape[1]
width = start.shape[1]
bb = {'O':[],'D1':[],'D2':[]}
bc = []
at = []
bt = []
ct = []
dt = []
et = []
ft = []
gt = []
ht = []
for row in range(0, height):
    for col in range(0, width):
        
        apos = [check(row+1,height),check(col-1,width)]
        bpos = [check(row+1,height),check(col,width)]
        cpos = [check(row+1,height),check(col+1,width)]
        dpos = [check(row,height),check(col+1,width)]
        hpos = [check(row,height),check(col-1,width)]
        gpos = [check(row-1,height),check(col-1,width)]
        fpos = [check(row-1,height),check(col,width)]
        epos = [check(row-1,height),check(col+1,width)]
        batch = [apos,bpos,cpos,dpos,hpos,gpos,fpos,epos]
        at.append(apos)
        bt.append(bpos)
        ct.append(cpos)
        dt.append(dpos)
        et.append(epos)
        ft.append(fpos)
        gt.append(gpos)
        ht.append(hpos)
        bout = ["aval","bval","cval","dval","hval","gval","fval","eval"]
        j = 0
        foc = [row,col]
        bb['O'].append(foc)
        bb['D1'].append(batch)
        for i in batch:
            x = i[0]
            y = i[1]
            bout[j] = start.iloc[x][y]
            j += 1
        bc.append(bout)
        bb['D2'].append(bout)

bd = pd.DataFrame(bb)

In [131]:
t = bb['D1']